#info {
    position: absolute;
    display:flex;
    padding-top: 13%;
    padding-left: 12%;
    font-size: 30px;
}
#nameOutput {
    position: absolute;
    padding-top: 11%;
    padding-left: 15%;
    font-size: 30px;
}
#myForm {
    position: absolute;
    padding-top: 40rem;
}
#date {
    position: absolute;
    padding-top: 23%;
    padding-left: 17%;
    font-size: 21px;
}
#img {
    border-style: solid;
}