#info {
    position: absolute;
    display:flex;
    padding-top: 13%;
    padding-left: 12%;
    font-size: 30px;
}
#nameOutput {
    position: absolute;
    padding-top: 11%;
    padding-left: 15%;
    font-size: 30px;
}
#myForm {
    position: absolute;
    padding-top: 40rem;
}
p {
    position: absolute;
    padding-top: 25.7rem;
    padding-left: 20rem;
    font-size: 20.5px;
}
#img {
    position: absolute;
    border-style: solid;
}